* {
    font-family: segoe;

    cursor: url(cursor.png);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,body {
    background-color: #000;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0 !important; height: 0
}

.half{
    height: 40vh;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #000;
}

#overlay span {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#rect {
    cursor: url(cursor.png);

    z-index: 50;
    position: fixed;
    justify-content: center;
    align-items: center;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#main {
    z-index: 50;
    position: fixed;
    justify-content: center;
    align-items: center;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#main * {
    text-align: center;
}

section{
    height: 75vh;

    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
}

.content {
    scroll-snap-type: y mandatory;
    color: white;
    height: 100vh;
}

.ref {
    cursor: pointer;
}

#video {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

a {
    color: #B586D4;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: #FC315D;
    text-decoration: underline;
    transition: .5s;
}

#ref {
    font-size: 14pt;
}

#separator {
    font-size: 17pt;
    color: #FC315D;
}

#mio {
    font-size: 46pt;
    color: #B586D4;
}

#domain {
    font-size: 46pt;
    color: #FC315D;
}

video {
    object-fit: cover;
}